<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center feature">
            Site Visits
        </div>
        <div class="col-sm-4 text-center feature">
            Total Stories today

        </div>
        <div class="col-sm-4 text-center feature">
            <i class="fa fa-star icon"></i>

            <h3>Ideal for Apps or Software</h3>

            <p>
                Lorem ipsum dolizzle sit tellivizzle, boom shackalack adipiscing elit. Nullam mofo velizzle, get
                down get down stuff, sure cool, dizzle vizzle, arcu. Yo mamma izzle tortizzle.
            </p>
        </div>
    </div>
</div>