<div id="pricingWrap">
    <i class="fa fa-tablet icon"></i>
    <ul class="priceTable alt">

        <li class="title">Settings</li>
        <li class="description">For All Zones</li>

        <ul class="features">
            <li class="call">
                <a class="btn btn-success btn-lg" href="#">Home</a>
            </li>
            <li class="call">
                <a class="btn btn-success btn-lg" href="#">Zones</a>
            </li>
            <li class="call">
                <a class="btn btn-success btn-lg" href="#">Feeds</a>
            </li>
            <li class="call">
                <a class="btn btn-success btn-lg" href="#">Banners</a>
            </li>
            <li class="call">
                <a class="btn btn-success btn-lg" href="#">Users</a>
            </li>
        </ul>

    </ul>


</div>