<div class="imgWrap">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 300x250, created 12/15/07 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-5698567159910228"
         data-ad-slot="6039290975"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="imgWrap">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Skyscraper -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-5698567159910228"
         data-ad-slot="1179245667"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="imgWrap">
    <img src="http://placehold.it/300x250">
</div>
<div class="imgWrap">
    <img src="http://placehold.it/300x250">
</div>