    <div>
    <div class="container">
        <div class="row">


            <div class="col-sm-8 col-lg-8 pull-left">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 728x90, created 12/15/07 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-5698567159910228"
                     data-ad-slot="0967911373"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-sm-4 col-lg-4">
                <img src="http://placehold.it/320x90">
            </div>

        </div>

    </div>
    </div>
    <!-- /.container -->

<!-- / #ccr-site-title -->