<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/">
          <img src="styles/images/zmlogo.png" class="img-circle" alt="Zambia Hash"/>
            Zambia<span class="title">hash.com</span>
        </a>

    </div>
    <div class="collapse navbar-collapse appiNav">
        <ul class="nav navbar-nav">
            <li><a href="#!/about">About Us</a></li>
            <li><a rel="nofollow" href="#contactWrap">Contact Us</a></li>
            <li><a rel="nofollow" href="#featureWrap">Sign In </a></li>
            <li><a rel="nofollow" href="#contactWrap">Register</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
