<div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
							</span>
            Zambia <span class="title">Hash</span>
        </a>
    </div>
    <div class="collapse navbar-collapse appiNav">
        <ul class="nav navbar-nav">
            <li><a href="#!/about">About Us</a></li>
            <li><a href="#contactWrap">Contact Us</a></li>
            <li><a href="#featureWrap">Sign In </a></li>
            <li><a href="#contactWrap">Register</a></li>

        </ul>
    </div>
    <!--/.nav-collapse -->
</div>