<div class="container-fluid sources-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-sm hidden-xs sources-label">
        <label>Sources</label><i class="fa fa-angle-double-right"></i>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs top-newspaper-links">
        <a href="#LT" class="badge"><div>[ LT ]</div></a>
        <a href="#ZW"><div>[ ZW ]</div></a>
        <a href="#TZ"><div>[ TZ ]</div></a>
        <a href="#MB"><div>[ MB ]</div></a>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs  pull-right">
        <div class="form-group has-feedback" style="margin-bottom: 0;">
          <label class="control-label sr-only" for="inputSearcMD">Hidden label</label>
          <input type="text" class="form-control" id="inputSearcMD" placeholder="Search...">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>


      <div class="col-sm-12 top-newspaper-links-mobi hidden-md hidden-lg">
        <a href="#LT" class="badge"><div>[ LT ]</div></a>
        <a href="#ZW"><div>[ ZW ]</div></a>
        <a href="#TZ"><div>[ TZ ]</div></a>
        <a href="#MB"><div>[ MB ]</div></a>
      </div>
      <div class="col-md-4 col-sm-12 mobile-searchbox-container  hidden-md hidden-lg">
        <div class="form-group has-feedback" style="margin-bottom: 0;">
          <label class="control-label sr-only" for="inputSearcSM">Hidden label</label>
          <input type="text" class="form-control" id="inputSearcSM" placeholder="Search...">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
    </div>
  </div>
</div>



