<div class="btn-group btn-group-justified btn-group-xs, btn-group-sm btn-group-md btn-group-lg">
  <a href="#!/" class="btn btn-primary"><span class="fa-home fa-lg"></span></a>
  <a href="#!/site/url/{{domain}}" class="btn btn-info">All TEST  {{siteCode}}</a>
  <a href="#!/sitetoday/uri/{{domain}}" class="btn btn-info">Today </a>
  <a href="#!/siteyesterday/uri/{{domain}}" class="btn btn-info">Yesterday</a>
  <a href="#!/siteweek/uri/{{domain}}" class="btn btn-info">This Week </a>
  <a href="#!/sitemonth/uri/{{domain}}" class="btn btn-info">This Month</a>
  <a href="#!/customForm" class="btn btn-info">Custom Range</a>
</div>
<hr/>
