<h1>Welcome to ..</h1>

<h3 class="sectionTitle">Website Still in BETA Version</h3>

<div id="productWrap" class="altWrap">
    <h2 class="sectionTitle">Zambia Hash</h2>

    <h3 class="sectionTitle">All The Latest News from Zambia in One Place</h3>


   <p> On July 1, 2013, Google decided to retire  one of its popular products called Google Reader,
     a news aggregator created in early 2005, stating the product had a loyal but declining following,
     and they wanted to focus on fewer products (see https://www.google.com/reader/about/) </p>

  <p> Zambia Hash is a response to that announcement to provide an alternative for a niche Zambian audience.</p>

    <p>Zambia Hash is the one place where you can read all the latest news headlines from all the major newspaper websites
        from
        Zambia. </p>

    <p>Zambia Hash allows you see when websites have added new content.
        You can get the latest headlines from all the major online news websites  in one place as soon as it  is published.
     </p>

    <p>Zambia Hash just gives you the except of all the stories published and you can always visit the original site if
        you
        need to read the full story.</p>

</div>
