

<div class="row" ng-repeat="item in questions | orderBy:'-date'">
    <div class="productFeatures clearfix">
        <div class="col-xs-1 icon">
							<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-question fa-stack-1x fa-inverse"></i>
							</span>
        </div>
        <div class="col-xs-11">
            <h3>{{item.title}}</h3>
            <i class="fa fa-calendar"></i> {{item.date | date:'medium'}}<br/>
            <br/>

            <p>{{item.detail |limitTo:200}} </p>

            <div class="well col-xs-12">
                <button type="button" class="btn btn-default disabled col-xs-12 col-md-3"><i
                        class="fa fa-eye"></i> Views:  <span question-views={{item.id}}/>
                </button>
                <button type="button" class="btn btn-default disabled col-xs-12 col-md-3"><i
                        class="fa fa-comment"></i> 67 Answers
                </button>
                <a class="btn btn-success btn-green text-right pull-right col-xs-12 col-md-6"
                   href="#/ask/answer/{{item.id}}" id="open-review-box">Read More and Answer</a>
            </div>
        </div>
    </div>
</div>
<!--End of Row-->