<div class="row" id="customForm">
    <div id="contactWrap">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="sectionTitle">Set Custom Date Range</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="blurb">
                   Select the Period You want the news For
                </div>
            </div>
        </div>
        <div ng-controller="CustomformCtrl">
            <form novalidate name="customForm" class="css-form">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="inputContainer">
                            <label>Start Date: </label>
                            <input type="date"
                                   ng-model="custom.start" required="true"
                                   name="start"
                                   id="start"
                                   value=""
                                   class="form-control"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputContainer">
                            <label class="screen-reader-text">End Date: </label>
                            <input type="date"
                                   ng-model="custom.end" required="true"
                                   name="end"
                                   id="end"
                                   value=""
                                   class="form-control"
                                   autocomplete="off"/>
                        </div>
                    </div>


                    <div class="col-sm-3 col-sm-offset-2">
                        <button name="submit"
                                type="button"
                                ng-click="cancel()"
                                class="btn btn-primary btn-lg">Cancel
                        </button>
                    </div>
                    <div class="col-sm-3 ">
                        <button name="submit"
                                ng-click="reset()"
                                ng-disabled="isUnchanged(custom)"
                                type="button"
                                class="btn btn-primary btn-lg">Reset
                        </button>
                    </div>

                    <div class="col-sm-4 ">
                        <button name="submit"
                                ng-click="getNews(custom)"
                                ng-disabled="customForm.$invalid || isUnchanged(custom)"
                                type="button"
                                class="btn btn-primary btn-lg btn-success">Get News
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /contactWrap -->
</div>

